<form method="POST" class="display_flex">
    <a href="/logout" class="my-4 container-fluid">
        <button type="submit" class="btn btn-primary">Cerrar sesión</button>
        <div id="logout"></div>
    </a>            
</form>